@import url(https://fonts.googleapis.com/css?family=Open + Sans:300, 500, 700);
@import url(https://fonts.googleapis.com/icon?family=Material + Icons);

/* icon */
.icon {
  font-family: "Material Icons", serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

.table td {
  padding: 5px;
  vertical-align: middle;
  white-space: pre-wrap;
}

.table th {
  padding: 5px;
}

#react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

#react-paginate li {
  display: inline-block;
}
/* VARIABLES */

:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}
/* Grid */
.calendar .row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.calendar .expand {
  color: #ccc;
}
.calendar .check-square {
  color: rgb(0, 212, 71);
  font-size: 1.5em;
  display: block;
}

.calendar .payment_icon {
  color: rgb(255, 0, 0);
  font-size: 2em;
}
.row-middle {
  align-items: center;
}
.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}
.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}
/* Calendar */

.calendar {
  display: block;
  position: relative;
  width: 100%;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
}

.calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1em 0;
  border-bottom: 1px solid var(--border-color);
}

.icon {
  cursor: pointer;
  transition: 0.15s ease-out;
}

.icon:hover {
  transform: scale(1.25);
  transition: 0.25s ease-out;
  color: var(--main-color);
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--text-color-light);
  font-size: 70%;
  padding: 0.75em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .cell {
  position: relative;
  height: 5em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

.calendar .body .cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

.calendar .body .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%, #53cbf1 40%);
  border-image-slice: 1;
}

.calendar .body .row {
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .cell:last-child {
  border-right: none;
}

.calendar .body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: 0.75em;
  right: 0.75em;
  font-weight: 700;
}
.calendar .body .cell .edit {
  color: var(--text-color-light);
}
.calendar .body .disabled .edit {
  color: var(--text-color-light);
  pointer-events: none;
}
.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -0.2em;
  right: -0.05em;
  transition: 0.25s ease-out;
  letter-spacing: -0.07em;
}

.calendar .body .cell:hover .bg,
.calendar .body .selected .bg {
  opacity: 0.1;
  transition: 0.5s ease-in;
}

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100% / 7);
  width: calc(100% / 7);
}

.modal-overlay {
  z-index: 100;
}
/* work calendar modal */
.work-modal {
  position: absolute;
  top: 55px;
  left: 10%;
  right: 10%;
  /* bottom: 40px; */
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #666;
  background-color: white;
}
.work-modal .modal-title {
  display: flex;
  border-bottom: 1px solid #e9ecef;
  padding-bottom: 8px;
}
.work-modal .close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}
/* task modal */
.task-modal {
  position: absolute;
  top: 55px;
  left: 10%;
  right: 10%;
  /* bottom: 40px; */
  padding: 8px;
  border-radius: 8px;
  /* border: 1px solid #666; */
  background-color: white;
}
.task-modal .modal-title {
  display: flex;
  padding-bottom: 8px;
}
.task-modal .close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}
.task-form label {
  margin-bottom: 0.2em;
}
.task-form .react-datepicker-wrapper {
  display: inherit;
}
/*  */
.close .icon {
  line-height: 1;
}
.modal-title .title {
  margin: 0;
}
.work-content,
.work-payment {
  display: block;
  width: 100%;
}
.modal-footer {
  padding: 8px 0 0;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(49, 49, 49, 0.5);
}
button:focus,
.work-modal:focus {
  outline: none;
}
/*  */
ul.category_list,
ul.payment_list {
  width: 100%;
  padding-left: 0px;
}
ul.category_list li,
ul.payment_list li {
  list-style-type: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 12px;
}
ul.category_list li > .buttons,
ul.payment_list li > .buttons {
  margin-top: -4px;
  float: right;
}
ul.category_list li > .buttons > button,
ul.payment_list li > .buttons > button {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  padding-left: 8px;
}
.work-wrapper > div.active,
ul.category_list li.active,
ul.payment_list li.active {
  border-left: 6px solid #dd0000;
}

.payment_list .alias {
  margin-left: 1rem;
  font-weight: 700;
}

.modal-title{
  text-align: center;
}

.dropdown-menu.show {
  display: block;
  margin-left: -70px;
}

.datepicker .react-datepicker-wrapper{
  width: 100%;
}

.react-datepicker-popper{
  z-index: 1021 !important
}

.history-item .dropdown-menu.show{
  margin: 6px 10px;
}

.avatar-photo {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height:320px;
  width: 310px;
  overflow: hidden;
  box-shadow: 0 0 0 6px #fff , 0 0 0 7px #ccc;
  z-index: 3;
  margin-left: 0px;
  margin-top: 48px;
}

.avatar-photo  input[type=file] {
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -moz-opacity:0;
  opacity: 0;
  z-index: 9;
}
.avatar-photo  img {
  width: 100%;
  height: 100%;
}

.avatar-photo:hover {
  cursor: pointer;
}

.table-response{
  margin-top: 20px;
  padding-top: 20px;
}

.profile-info{
  width: 100%;
  display: flex;
}

.info{
  display: flex;
  width: 100%;
  border: 1px solid #ddd; 
  padding-left: 12px;
  height: 38px
}

.profile-info td{
  width: 100%;
}

.role{
  margin-left: 12px;
  height: 48px;
}

.user_role td{
  height: 48px;
  border: none;
}

.info-title{
  margin-left:30px; 
  color: white; 
  margin-top: 20px
}

.info-value{
  margin-left: 30px;
  margin-top: 10px;
  color: white
}

.info-icon .icon{
  height: 60px;
  margin-right: 30px;
  color: white;
  width: 50px;
}

.info-icon{
  margin-left: auto;
}

.infobar{
  width: 110%; 
  margin: 0 -10px; 
  height: 130px; 
  border-radius: 10px;
  margin-top: 45px
}

.task_info{
  height: 130px;
  border-radius: 10px;
  margin-top: 30px;
}

.edit_btn .icon{
  width: 20px;
  height: 30px;
}

.delete_btn .icon{
  width: 17px;
  height: 30px;
}

.edit_btn{
  border:none;
  background: white;
}

.delete_btn{
  border:none;
  background: white;
}

.payment_info{
  width: 90px;
}

.modal-content{
  height: 37px;
}

.profile_table_info{
  text-align: center;
  font-size: 20px;
}