.Services{
    padding: 30px;
}

.Featured{
    padding: 30px;
}

.Top{
    padding: 30px;
}

.search_input{
    width: 380px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    border: none;
    border-radius: 5px;
    height: 45px;
}
.search_btn{
    border-radius: 5px;
    height: 45px;
    margin-top: 150px;
    margin-left: -59px;
    background: #299494;
    border: none;
    color: white;
}

.header{
    height: 350px;
    width: 100%;
    display: flex;
    background-repeat: round;
}