.performance-card-container {
    padding: 20px;

    .title {
        color: #4D4F5C;
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 30px;
    }

    .table {
        border: none;
    }
}