/*
    Shops page
*/
.shop-service-container {
    padding-bottom: 200px;
    .search-input-btn {
        display: flex;
        justify-content: space-between;
        padding: 60px 28px 30px;

        .search-box {
            border: 1px solid #999999;
            border-radius: 6px;
            
            .icon {
                width: 35px;
                color: rgba($color: #000000, $alpha: 0.2);
            }

            .input {
                width: 300px;
            }

            .search-btn {
                background: #299494;
                color: white;
                text-transform: none;
                height: 100%;
                border-radius: 0 6px 6px 0;
                padding: 0 20px;
            }
        }

        .create-btn {
            background: #299494;
            color: white;
            text-transform: none;
            width: 200px;
            border-radius: 30px;
        }
    }

    .shop-one-item {
        padding: 35px 30px;
        .content {
            padding: 35px 28px 90px;
            box-shadow: 0px 7px 27px #00000029;
            border-radius: 10px;

            .shop-service-text {
                span{
                    color: #4D4D4D;
                    font-weight: bold;
                }
            }

            .image {
                background-repeat: no-repeat !important;
                background-size: contain !important;
                // padding-top: 100%;
            }

            .description {
                padding-left: 40px;

                .title {
                    color: #4D4D4D;
                    font-size: 20px;
                    font-weight: bold;
                }

                .address {
                    color: #808080;
                    font-size: 14px;
                }

                .star-review {
                    display: flex;
                    column-gap: 10px;
                    padding-top: 10px;

                    .score {
                        background-color: #FC840B;
                        border-radius: 5px;
                        color: white;
                        width: 43px;
                        text-align: center;
                        font-size: 14px;
                        padding-top: 2px;
                        height: 22px;
                    }

                    .star {
                        color: #FC840B;
                    }

                    .review {
                        color: #808080;
                        font-size: 14px;
                    }
                }

                .item-one {
                    padding: 5px 0;
                    width: 150%;
                    border-bottom: 1px solid rgba(77, 77, 77, 0.2);
                    span {
                        color: #4D4D4D;
                        font-size: 14px;
                    }

                    p {
                        font-size: 10px;
                        color: #4D4D4D;
                    }

                    .right {
                        display: flex;
                        width: 120px;
                    }
                }

                .edit-shop-btn {
                    position: absolute;
                    top: 0px;
                    right: -85px;
                    border: 2px solid #666666;
                    border-radius: 4px;
                    
                }
            }
        }
    }
}



/*
    Special Shops page
*/

.special-shop-container {
    padding: 50px 100px;
    .header-title {
        color: #4D4D4D;
        font-size: 38px;
        font-weight: bold;
        padding: 50px 0 10px;
    }

    .inactive-one {
        opacity: 0.5;
        position: relative;

        .inactive-mark {
            position: absolute;
            width: 120px;
            background-size: contain;
            background-repeat: no-repeat;
            top: 10px;
            right: -20px;
            padding-left: 15px;
            color: white;
            display: flex;
            align-items: center;
            font-size: 20px;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }
    }

    .card-one {
        width: 100%;
        border-radius: 5px;
    }

    .search-input-btn {
        display: flex;
        justify-content: space-between;
        padding: 60px 0px 30px;

        .search-box {
            border: 1px solid #999999;
            border-radius: 6px;
            
            .icon {
                width: 35px;
                color: rgba($color: #000000, $alpha: 0.2);
            }

            .input {
                width: 300px;
            }

            .search-btn {
                background: #299494;
                color: white;
                text-transform: none;
                height: 100%;
                border-radius: 0 6px 6px 0;
                padding: 0 20px;
            }
        }

        .btn-container {
            display: flex;
            justify-content: space-between;
            column-gap: 90px;
            .create-btn {
                background: #299494;
                color: white;
                text-transform: none;
                width: 200px;
                height: 60px;
                border-radius: 30px;
            }
        }
    }

    .title-btn {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 50px;;

        .title {
            color: black;
            font-size: 36px;
        }

        .view-btn {
            color: #299494;
            font-size: 24px;
            font-weight: bold;
            text-transform: none;
        }
    }

    .edit-service {
        height: 36px;
        width: 130px;
        padding: 0px;
        font-size: 10px;
    }

    .delete-btn {
        height: 36px;
        width: 130px;
        padding: 0px;
        font-size: 10px;
    }
}

/*
    performance page
*/

.preformance-container {
    background-color: #FAFAFA;
    padding: 50px;

    .overview-items {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;

        .overview-item-one {
            width: 300px;
            box-shadow: 0px 2px 6px #0000000A;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .title {
            color: #43425D;
            font-size: 15px;
            opacity: 0.5;
            padding-bottom: 20px;
        }

        .titles{
            color: #43425D;
            font-size: 35px;
            opacity: 0.5;
            padding-bottom: 20px;
            text-align: center;
        }

        .amount {
            color: #4D4F5C;
            font-size: 25px;
        }

        .percent {
            color: #FF4141;
            font-size: 11px;
            display: flex;
            align-items: center;
            column-gap: 5px;
            font-weight: bold;
        }
    }

    .chart-wrapper {
        position: relative;
        height: 400px;
        margin: 20px 0 90px;
        padding: 30px 30px 60px 30px;
        box-shadow: 0px 2px 6px #0000000A;
        background: white;

        .chartjs-render-monitor {
            height: 320px !important;
        }

        .product-tip {
            display: flex;
            align-items: center;
            column-gap: 15px;
            padding-right: 40px;
            div {
                width: 20px;
                height: 10px;
                background: #A3A1FB;
                border-radius: 8px;
            }
        }

        .service-tip {
            display: flex;
            align-items: center;
            column-gap: 15px;
            div {
                width: 20px;
                height: 10px;
                background: #54D8FF;
                border-radius: 8px;
            }
        }
    }
    
}

/*
    Performance card style
*/

.performance-card-container {
    table {
        th, td {
            border-bottom: 1px solid #F5F6FA;
            color: #4D4F5C;
        }

        .blue-cell {
            background: rgba($color: #69E4A6, $alpha: 0.2);
            border-radius: 14px;
            height: 30px;
            width: 90px;
            padding: 0 20px;
            display: flex;
            align-items: center;
            color: #4D4F5C;
            justify-content: center;
        }

        .pink-cell {
            background: rgba($color: #FF7285, $alpha: 0.2);
            border-radius: 14px;
            height: 30px;
            width: 90px;
            padding: 0 20px;
            display: flex;
            align-items: center;
            color: #4D4F5C;
            justify-content: center;
        }
    }
}

.decision-refund-container{
    background-color: #FAFAFA;
    padding: 50px;
    .description{
        margin-left: 30px;
    }
    .header_title{
        margin-top: -10px;
        font-weight: bold;
    }
    .lorem{
        margin-top: -15px;
    }
    .star{
        display: flex;
    }
    .star_content{
        margin-top: 22px;
        color: #999999;;
    }
    .star_description{
        margin: 0 20px;
        margin-top: 20px;
    }
    .content{
        display: flex;
        margin-top: 10px;
    }
    .content_detail{
        margin-top: -2px;
        margin: 0 20px;
    }
    .verify_icon{
        color: #999999;
    }
    .special_btn{
        color: #299494;
        border-color: #299494;
        margin-top: 15px;
    }
    .divider{
        margin-top: 15px;
    }
    .provider{
        display: flex;
    }
    .service{
        display: flex;
        margin-top: -25px;
    }
    .provider_detail{
        margin-left: auto;
    }
    .detail{
        display: flex;
        justify-content: space-between;
    }
    .private_note{
        font-weight: 700;
    }
    .save_btn{
        color: #299494;
        border-color: #299494;
        margin-top: 30px;
        width: 100px;
    }
    .text_area{
        width: 100%;
        height: 200px;
    }
    .send_message_btn{
        color: #299494;
        border-color: #299494;
        width: 150px;
        margin-left: auto;
        height: 40px;
        margin-top: 15px;
    }
    .refund_avatar{
        width: 80px;
        height: 80px;
        margin-top: 50px;
    }
    .message_avatar{
        width: 90%;
        margin-top: 50px;
        margin-left: 23px;
        height: 140px;
    }
    .refund_txt1{
        margin-top: -135px;
        margin-left: 60px;
    }
    .refund_txt2{
        margin-top: 60px;
        margin-left: 60px;
    }
    .refund_avatar2{
        width: 80px;
        height: 80px;
        margin-top: 50px;
    }
    .message_avatar2{
        width: 90%;
        margin-top: 50px;
        margin-left: 23px;
        height: 140px;
    }
    .calendar_detail{
        display: flex;
        justify-content: space-between;
        width: 85%;
    }
    .detail_body{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .detail_btn{
        height: 40px;
        margin-top: -5px;
        background: #299494;
        color: white;
    }
    .detail_btn:hover{
        background-color: #299494;
    }
    .more{
        margin-left: 45px;
        color: #999999;
    }
    .more:hover{
        cursor: pointer;
    }
    .detail_list{
        width: 170px;
        margin-left: auto;
    }
}

.profile-card-container {
    border-radius: 20px !important;
    box-shadow: 0px 1px 14px #00000029 !important;


    .card {
        border-radius: 20px;
        box-shadow:none !important;

        .contents{
            display: flex;

            .book{
                border-radius: 25px;
                color: white;
                background-color: #299494;
                border: none;
                margin-left: auto;
                height: 30px;
                width: 100px;
            }
            .book:focus{
                border: none;
                outline: none;
            }
            .book:hover{
                cursor: pointer;
            }
        }
        .minites{
            margin-left: auto;
            display: table;
            margin-top: 0px;
            color: #999999;
        }

        .alias{
            margin-top: -40px;
            color: #999999;
        }

        .detail{
            font-size: 10px;
        }

        .card-media {
            width: 100%;
            padding-top: 100%;

            .brand-favorite {
                padding: 0 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: -45px;

                // .star{
                //     margin-left: auto;
                // }

                .brand-price {
                    p {
                        color: white;
                        margin: 0px;
                    }
                }

                .favorite-icon {
                    color: white;
                    font-size: 60px;
                }
            }
        }
    }
}